/*new bg-color : #eadcd2*/
.pr-0{
	padding-right: 0;
}
.pl-0{
	padding-left: 0;
}
.pb-50{
	padding-bottom: 50px;
}
#thankYouBooking .modal-dialog{
	height: 100%;
    margin-top: 40vh;
    font-size: 2.5rem;
}
@media screen and (max-width: 576px){
	#thankYouBooking .modal-dialog{
		font-size: 2rem;		
	}
}
.road-show-section{
	background-color: #eadcd2;
	padding: 25px 15px 75px;
	position: relative;
}
#road_show_form{
	position: relative;
  	z-index: 10;
}
.road-show-section .loading-container{
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.4);
    z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.road-show-section .loading-container .loader{
	margin: 30vh auto 0;
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #9c5938; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}
.road-show-section ol{
	padding-left: 15px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#road_show_form .panel-heading{
	background-color: inherit;
}
#road_show_form h2{
	font-size: 2.5rem;
    font-family: 'Reader Bold';
    font-weight: 300;
    line-height: 1;
}
@media screen and (max-width: 576px){
	#road_show_form h2{
		font-size: 2rem;
	}	
}
#road_show_form .form-control{
	background-color: #fff;
    border: none;
    line-height: 1.5;
}
@media screen and (max-width: 1920px){
	#road_show_form {
		max-width: 75%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 768px){
  	#road_show_form {
    	max-width: 100%;
  	}
}
.road-show-detail-section{
	position: relative;
	height: 600px;
    background-image: url(/images/road-show/box.png);
}
.road-show-detail-section .road-show-detail-inner-section{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
}
.road-show-detail-content{
	width: 75%;
    text-align: center;
    margin: auto;
}
.road-show-detail-content .bold-text{
	font-family: 'Reader Bold';
}
.road-show-detail-content h2{
	font-family: 'Reader Bold';
	font-size: 2.5rem;
	padding-bottom: 25px;
	color: #fff;	
}
.road-show-detail-datetime-location{
	margin-top: 25px;
	background-color: rgba(234,220,210,0.6);
}
.road-show-detail-datetime-location ul{
	color: #1c1b1a;
	list-style: none;
	padding: 25px 0;
}
.road-show-detail-datetime-location ul li{
	line-height: 1.5;
    padding: 15px
}
.road-show-detail-datetime-location img.icon-image{
	max-width: 25px;
    padding-bottom: 5px;
}
.road-show-mua-images-section{
	padding: 50px 0;
	width: calc(100%/1.1);
    margin: auto;
}
.road-show-mua-images-section h2{
	font-size: 2.5rem;
	padding-bottom: 25px;
}
#booking-thank-you.thank-you-image .thank-you-text{
	top: 30%;
}
.road-show-mua-images-section .hidden-sm .img-responsive {
	width: 85%;
	margin: auto;
}
@media screen and (max-width: 991px){
	.road-show-mua-images-section{
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.road-show-detail-content{
		width: 100%;
		padding: 0 15px;
	}
}
@media screen and (max-width: 576px){
	.road-show-detail-content h2,
	.road-show-mua-images-section h2{
		font-size: 2rem;	
	}
	#booking-thank-you.thank-you-image .thank-you-text p{
		max-width: 260px;
	}
}
@media screen and (max-width: 990px) and (orientation: landscape){
	#booking-thank-you.thank-you-image .thank-you-text p{
		max-width: 260px;
	}
}