@font-face {
  font-family: 'Reader Bold';
  src: url('../fonts/READER-BOLD_1.OTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Medium';
  src: url('../fonts/Reader-Medium.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Black';
  src: url('../fonts/Reader-Black.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Reader Regular';
  src: url('../fonts/Reader-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
option:disabled{
  color: lightgrey;
}
/*
  chocolate : #9c5938;
  black : #1c1b1a;
  bg-color: #fff0e8;
*/
/*Global start*/
body {
  background-color: transparent;
  overflow-y: scroll;/*Solve iframe iphone scroll problem*/
  -webkit-overflow-scrolling: touch;/*Solve iframe iphone scroll problem*/
  width: 100vw;/*Solve iframe iphone scroll problem*/
  height: 100vh;/*Solve iframe iphone scroll problem*/
  font-family: 'Reader Regular';
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
  color:#1c1b1a;
}
sup{
  font-size: 0.4em;
  top: -1.5em;
}
html{
  overflow-x: hidden;/*Solve iframe iphone scroll problem*/
  line-height: 1.5;/*Solve iframe iphone scroll problem*/
}
p{
  margin-bottom: 0;
}
.img-responsive{
  display: block;
  width: 100%;
  height: auto;
}
h1{
  font-size: 3rem;
}
h2{
  color: #1c1b1a;
  margin-top : 0;
  margin-bottom : 0;
}
ul{
  margin-bottom: 0;
}
label {
  color: #1c1b1a;
  font-weight: 300;
  font-family: 'Reader Regular';
  font-size: 2rem;
}
input[type=checkbox]{
  margin: auto;
  margin-top: 9px;
}
input::placeholder {
  color: #1c1b1a !important;
}
a{ color:#1c1b1a;}
a:hover {
  color:#9c5938;
  cursor: pointer;
}
strong{
  font-family: 'Reader Bold';
  font-weight: bold;
}
option{
  font-size : 2rem;
}
.w-75{ width: 75%; }
.position-relative{ position: relative; }
.checkbox{
  margin: 0;
  margin-bottom: -22px;
}
.has-error .checkbox{
  margin-bottom: -6px;
}
.float-right{
  float: right;
}
.text-left{
  text-align: left !important;
}
.d-flex{
  display: flex;
}
.mt-15{
  margin-top: 15px;
}
.mb-100{
  margin-bottom: 100px;
}
.mb-50{
  margin-bottom: 40px;
}
.m-auto{
  margin:auto !important;
}
.black-text {
  color: #1c1b1a;
}
.color-text {
  color: #9c5938;
  font-family: 'Reader Bold';
  text-align: center;
  font-weight : bold;
  font-size : 1em;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
  color: #9c5938;
  background-color: #fff;
  border-color: #1c1b1a;
}
.white-text{
  color: #fff;
  font-family: 'Reader Medium';
  text-align: center;
  font-weight : bold;
  font-size : 2.5rem;
}
.p-0{
  padding : 0;
}
.pb-25{
  padding-bottom:25px;
}
.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100vw;
}
.image-align-center{
  justify-content: center;
  align-items: center;
  display: flex;
}
sup.small-text {
  font-size: 0.4em;
  top: -1.15em;
}
.d-none{ display: none !important; }
.d-flex{ display: flex !important; }
@media (min-width: 1500px){
  .container{ width: 1300px;  } 
}
@media (max-width: 767px){
  .pt-md-40{
    padding-top: 40px;
  }
}
@media (max-width: 991px) and (min-width: 769px){
  input[type=checkbox]{
      margin-top: 2px;
  }
}
@media screen and (max-width: 576px){
  .d-sm-none{ display: none !important; }
  .d-sm-flex{ display: flex !important; }
  body,label {
    font-size: 1.5rem;
  }
  input[type=checkbox]{
    margin-top: 0px;
  }
  h1{
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px){
  body,label {
    font-size: 1.3rem;
  }
}
/*Global end*/
/* top section start*/
#top-section {
  background: url('/images/background.jpg') no-repeat top;
  background-size: 100% 100%;
  position: relative;
}
#bottom-section{
  background: url('/images/background2.jpg') no-repeat bottom;
  background-size: 100% 100%;
  position: relative;
}
#top-section .row {
  margin: auto;
  position: relative;
}
#top-section .top-description{
  max-width: 95%;
  padding: 50px 15px;
}
#top-section .top-description p{
  line-height: 2.2;
}
#top-section .top-description br{
  display: none;
}
@media (max-width: 767px){
  #top-section .top-description{
    max-width: 100%;
  }
  #top-section {
    background: url('/images/background_mob-1.jpg') no-repeat top;
    background-size: 100% 100%;
  }
  #bottom-section{
    background: url('/images/background_mob-2.jpg') no-repeat bottom;
    background-size: 100% 100%;
  }
  #top-section .top-description br{
    display: block;
  }
}
/* top section end */
/* footer */
.page-footer {
  background: #9c5938;
  padding: 25px 0; 
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px){
  .page-footer {
    padding: 5px 0 10px;
  }
}
@media screen and (max-width: 576px){
  .page-footer {
    font-size: 0.7em;
  }
}
.page-footer a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}
.page-footer a:hover {
  color: #1c1b1a;
}
.page-footer .footer-logo-img {
  width: 2rem;
  margin-bottom: 4px;
}
.page-footer i{
  font-size: 1.5rem;
}
.footer-copyright {
  float: right;
  text-align: right;
}
.footer-links-subsection {
  float: left;
  text-align: left;
}
.footer-links-subsection ul {
  list-style-type: none;
  padding: 0;
}
.footer-link {
  margin: 0px 15px;
}
@media (max-width: 767px) {
  .footer-copyright, .footer-links-subsection {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 5px;
  }
  .footer-links-subsection ul {
    display: block;
    padding: 0px;
  }
  .footer-link {
    margin: 10px 15px;
  }
}
@media (max-width: 576px) {
  .page-footer i{
    font-size: 1.3rem;
  }
}
/* end footer */
/*form section*/
#registration_form {
  position: relative;
  z-index: 10;
}
.panel {
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 0px;
  border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading.panel-custom-css {
  border: none;
    border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding : 0;
}
.panel-body {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.panel-color-background {
  background-color: transparent;
}
.label-required a{
  font-family: 'Reader Bold';
  cursor: pointer;
  color: #9c5938;
}
.label-required:after {
  content: "*";
  display: inline;
  font-size: 2rem;
}
.form-control {
  background-color: transparent;
  border-color: #9c5938;
  border-radius: 0px;
}
.custom-submit-btn {
  color: #fff;
  background-color: #9c5938;
  border-color: #9c5938;
  border-radius: 0;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}
.custom-submit-btn.btn-block {
  width: 50%;
  margin: auto;
  font-size: 2.5rem;
  font-family: "Reader Medium";
}
.btn-default.disabled, .btn-default[disabled]{
  color: #9c5938;
}
.disclaimer-text {
  font-size: 0.7em;
  margin-bottom : 5px;
}
.tnc-text.has-error{
  margin-bottom: 0;
}
.tnc-text label {
  font-size: 0.7em;;
}
.help-block.label.label-danger {
  color: #fff;

  line-height: 1.5;
  padding: 5px 10px;
  margin: 5px 0 0;
}
.form-section .panel-heading h2 {
  font-size: 2.5rem;
  font-family: 'Reader Bold';
  font-weight: 300;
  line-height: 1.5;
  font-family: 
  margin: -7px 0 -8.5px; /*To balance line-height spacing*/
}
.form-section .panel-default>.panel-heading {
  background-color: transparent;
}
.form-group {
    margin-bottom: 15px;
}
.panel-body{
  padding: 50px 0 0;
}
.submit-section{
  padding: 75px 0 0;
}
.checkbox_form{
  overflow: hidden;
  position: relative;
}
.checkbox_form select{
  -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    outline: none;
}
.checkbox_form select::-ms-expand {
  display: none;
}
.checkbox_form:after{
    content: "\25bc";
    pointer-events: none;
    font-size: 1.2rem;
    line-height: 2;
    color: #9c5938;
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 100%;
    top: 4.3rem;
    right: 10px;
}
@media screen and (min-width: 577px){
  .form-section .panel-heading h2 br:nth-child(2){
    display: none;
  }
}
@media screen and (max-width: 1920px){
  #registration_form {
    max-width: 75%;
      margin: 0 auto;
  }
}
@media screen and (max-width: 768px){
  #registration_form {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px){
  .form-section .panel-heading h2{
    margin: -5px; /*To balance line-height spacing*/
  }
  .form-section .panel-heading h2{
    font-size: 2rem;
  } 
  .checkbox_form:after{ top: 3.5rem; }
  .custom-submit-btn.btn-block,
  .label-required:after { font-size: 1.5rem; }
  .submit-section {
    padding: 50px 0 0;
  }
}
@media screen and (max-width: 320px){
  .custom-submit-btn.btn-block,
  .label-required:after { font-size: 1.3rem; }
  .form-section .panel-heading h2{ font-size: 1.7rem; }
}
/* end form section */
/* header nav bar start */
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-header,
.navbar-nav {
  float: unset;
  text-align: center;
  margin: 0 auto !important;
}
.navbar-nav>li {
  float: none;
  display: inline-flex;
  padding: 0 10px;
}
.navbar-brand {
  float: unset;
  margin: auto;
}
.navbar-inverse {
  background-color: inherit;
  border: none;
}
.navbar-header {
  padding-bottom: 50px;
}
.navbar-header .navbar-brand .nav-logo {
  max-width: 250px;
}
.navbar-inverse .navbar-nav>.active>a>span,
.navbar-inverse .navbar-nav>li>a:hover>span {
  border-bottom: 2px solid #9c5938;
  color: #9c5938;
}
.navbar-inverse .navbar-nav>li>a>span {
  font-size: 2.5rem;
  color: #1c1b1a;
}
.navbar-nav>li:first-child>a {
  padding-left: 0;
}
.navbar-nav>li:last-child>a{
  padding-right: 0;
}
@media screen and (max-width: 767px){
  .navbar {
    margin-bottom : 0;
  }
  .navbar-header .navbar-brand .nav-logo {
    max-width: 200px;
  }
  .navbar-inverse .navbar-nav>li>a>span {
    font-size: 2rem;
  }
  .navbar-nav>li {
    padding: 0px;
  }
  .nav>li>a {
    padding: 10px 12px;
  }
}
@media screen and (max-width: 576px){
  .navbar-inverse .navbar-nav>li>a>span {
    font-size: 1.5rem;
  }
  .nav>li>a {
    padding: 10px 5px;
  }
}
/* header nav bar end */
/* floating button start*/
.floating-logo-btn {
  display: block;
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 9999;
}
.floating-logo-btn img {
  width: 100px;
}
@media screen and (max-width: 576px){
  .floating-logo-btn img {
    width: 70px;
  }
}
/* floating button end */
/* slider section */
#product-sec{
  padding: 100px 0 40px;
}
#product-sec h2{
  font-size: 2.5rem;
  padding-bottom: 50px;
}
.slider-section .row {
  position: relative;
  z-index: 10;
}
.slider-section .carousel-content {
  margin:auto;
  text-align: center;
  width: 500px;
  margin-top: 50px;
}
.slider-section .carousel-content .carousel-title {
  padding-bottom: 25px;
}
.slider-section .carousel-product {
  text-align: center;
}
#product-carousel .owl-carousel .owl-stage{
  margin : 0 auto;
}
#product-carousel .owl-nav{
  position: absolute;
  width: 100%;
  bottom: 28%;
  left:0;
  padding:0 20%;
}
#product-carousel .owl-next,
#product-carousel .owl-prev{
  outline: unset;
}
#product-carousel .owl-next:hover,
#product-carousel .owl-prev:hover{
  opacity: 0.5;
}
#product-carousel .owl-next{
  float:right;
  font-size: 4.8rem;
  color:#9c5938;
}
#product-carousel .owl-prev{
  font-size: 4.8rem;
  color:#9c5938;
}
.owl-carousel .owl-item img {
  display: block;
  max-width: 400px;
  width: auto;
  margin: 0 auto;
}
#product-carousel .carousel-btn{
  padding: 75px 0 15px;
}
#product-carousel .learn-more-btn{
  border: #9c5038 2px solid;
  padding: 10px 20px;
  color: #9c5038;
  font-family: 'Reader Medium';
}
#product-carousel .learn-more-btn:hover{
  text-decoration: none;
  border: none;
}
#product-carousel .learn-more-btn:focus,
#product-carousel .learn-more-btn:active{
  border: #9c5038 2px solid;
  text-decoration: none;
}

@media screen and (max-width: 991px){
  #product-carousel .owl-nav{
    padding: 0;
  }
  #product-carousel .owl-nav{
    bottom: 25%;
  }
  #product-carousel .carousel-btn {
    padding: 75px 0 50px;
  }
}
@media screen and (max-width: 767px){
  #product-sec h2{
    font-size: 2rem;
  }
  #product-sec{
    padding: 75px 0 15px;
  }
}
@media screen and (max-width: 576px){
  #product-carousel .carousel-btn{
    padding: 50px 0 15px;
  }
  #product-carousel .owl-nav{
    bottom: 32%;
  }
  #product-carousel .owl-prev,
  #product-carousel .owl-next{
    font-size: 4rem;
  }
  .slider-section .carousel-content{
    width: 320px;
  }
  .slider-section .carousel-product .carousel-product-img {
    max-width: 250px;
    margin :0 auto;
  }
}
@media screen and (max-width: 400px){
  .slider-section .carousel-content .carousel-title {
    width: 90%;
    margin: 0 auto;
  }
  #product-sec{
    padding: 75px 0 50px;
  }
}
@media screen and (max-width: 320px){
  #product-carousel .owl-nav{
    bottom: 29%;
  }
  .slider-section .carousel-content{
    width: 250px;
  }
  #product-sec h2{ font-size: 1.7rem; }
}
/*end slider section*/
/* Thank You Page */
.bottom-link {
    display: flex;
    justify-content: center;
}
.thank-you-bottom-logo{
  width: 40px;
}
.full-height {
  background-color: #EEE0DD;
  position: relative;
  height: 100%;
  min-height: 100vh;
}
.thank-you-logo {
  width: 160px;
  margin-top: 100px;
}
.dear-name {
  color: #9c5938;
  font-weight: bold;
  font-family: 'Reader Medium';
}
.btn-share {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border: solid 1px #9c5938;
  border-radius: 50%;
  padding: 10px;
  background-color: #9c5938;
  color: #fff;
}
.btn-share:focus{
  color: #fff;
}
.btn-share:hover {
  background-color: #fff;
  color: #9c5938;
}
.mobile-banner{
  width : 100%;
}
.agree-text{
  display: inline-block;
}
.modal-body{
  word-break: break-word;
}
.modal-body, .modal-body p {
    font-size: 1.5rem !important;
}
dd {
  margin: 10px 0 10px 25px;
}
/*end*/
.thank-you-container{
  position: relative;
  background-color: #fff0e8;
  height: 100vh;
  width: 100%;
}
.thank-you-container a:hover{
  color: #1c1b1a;
}
.thank-you-container .thank-you-image{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thank-you-container .thank-you-image .thank-you-image-inner{
  position: relative;
}
.thank-you-container .thank-you-image img{
  width: 600px;
}
.thank-you-container .thank-you-image .thank-you-text{
  position: absolute;
  width: 100%;
  left: 0;
  top: 25%;
  text-align: center;
}
.thank-you-container .thank-you-image .thank-you-text .custom-spacing{
  display: inline-block;
  margin-bottom: 10px;
}
.thank-you-container .thank-you-image .thank-you-text p{
  width: 100%;
  max-width: 450px;
  margin: auto;
}
@media screen and (max-width: 576px){
  .thank-you-container .thank-you-image img{
    width: 100%;
  }
  .thank-you-container .thank-you-image .thank-you-text p{
    max-width: 280px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px){
  .thank-you-container .thank-you-image .thank-you-text p{
    max-width: 240px;
  }
}
@media screen and (max-width: 990px) and (orientation: landscape){
  .thank-you-container .thank-you-image img{
    max-width: 350px;
  }
  .thank-you-container .thank-you-image .thank-you-text p{
    max-width: 280px;
    font-size: 1rem;
  }
}
#redeem{
  background-color: #fff0e8;
  height: 100vh;
  width: 100%;
  display: flex;
}
#redeem .redeem-image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#redeem .redeem-image img{
  width: 40%;
  max-width: 400px;
}